@media (max-width:990px){
    .about-section{
        margin-top: 25vh!important;
    }
    .navbar-nav .nav-link{
        margin-left:10vw!important;
    }
    .about-box-1{
        margin-left: 0;
        margin-bottom: 2vh;
    }
    .about-img{
        height: 50vh!important;
        
    }
    .project-box{
        margin-top: 10px!important;
        width: 100%;
        overflow:scroll
    }
}
