*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}
body{
    background-color:#fffcf2;
}
   
.navbar-brand{
    font-size: 2.2rem;
    color: #232222;
    font-weight: bold;
    margin-left: 10vw;

}

.navbar-brand:hover{
    color: #252424;
}
.navbar{
    background-color: #fffcf2!important;

}
.navbar-nav .nav-link{
    margin-left: 2vw;
    font-weight: bold;
    color: #001219;
    font-size: 1.1rem;
    position: relative;
}

.navbar-nav .nav-link::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color:#eb5e28;
    transition: all 0.2s ease-in-out;
}
.navbar-nav .nav-link:hover:before{
    width: 100%;
}

/* home section */

.home-img{
    height: 50vw;
}
.home-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.home-p{
    font-weight: bold;
    font-size: 14px;
}
.home-pb{
    font-weight: 500;
    font-size: 24px;
}
.home-heading{
    display: inline-block;
    font-weight: 700;
    word-spacing: 3px;
}

.img1{
    object-fit: cover;
    height: 30vw;
}

/* about section */
.heading{
    margin-bottom: 15vh;
    cursor: pointer;
    font-weight: bold;
    font-size: 2.5rem;
    color: #252422;
    letter-spacing: 2px;
    position: relative;
    display: inline-block!important;
}
.heading::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color:#403d39;
    transition: all 0.2s ease-in-out;
}
.heading:hover::before{
    width: 100%;
}
.about-heading-contanier{
    display: flex;
    justify-content: center;
}

.about-section{
    margin-top: 10vh;
}

.about-img-container{
    display: flex;
    justify-content: center;
}
.about-img{
    height: 25vw!important;
    border-radius: 25px;

}
.about-txt-contaniner{
    height: 80vh;
    padding-top: 5vh;

}
.about-box-1{
    border: 2px solid black;
    border-radius: 20px;
    margin-right: 2vw;
    margin-left:10px;
 
  
}
.about-box-2{
    border: 2px solid black;
    border-radius: 20px;
  
}
.box-heading{
    font-weight: 500;
    font-size: 1.3rem;
    color: #03071e;
    cursor: pointer;
    transition: 0.2s ease-in-out;

}
.box-heading:hover{
    font-size: 1.4rem;
}

.box-text{
    font-weight:400;
    font-size: 14px;
    color: #2b2d42;
}
.about-txt{
    font-weight:bold;
    font-size: 14px;
    color: #4e4c67;

    
}
/* about end */

/* experince css */
.Experince-section{
    margin-top: 10rem;
}

.experince-heading-contanier{
    display: flex;
    justify-content: center;
}
.Experince-container{
    padding: 2rem;
    display: flex;
    justify-content: center;
}
.experince-box{
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;
    height: 40vh;
}
.ex-box-heading{
    font-weight: bold;
    font-size:1.3rem;
}
.ex-box-text{
    font-weight: 500;
    font-size:18px ;
    
}
.pera-text{
    font-weight: 400;
    font-size: 16px;
    color: rgb(85, 85, 85);
}

/* project-section */
.project-section {
    margin-top: 10vh;
}

.project-heading-contanier {
    display: flex;
    justify-content: center;
}

.project-box {
    height: 40vh;
    margin-top: 5vh;
    position: relative;
 
    /* overflow: hidden; */
}

.img-pro {
    width: 100%;
    height: 100%;
    object-fit: cover!important;
    /* display: block; */
}
.project-heading{
    font-size: 1.4rem;
    font-weight:500;
    font-family: cursive;
}
.project-box-1{

    border-left: none;

}
.project-box-2{
    border-right: none;
}
/* project section end */
/* contact  */
.contact-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.contact-container{
    margin-top: 30vh;
}
.contact-heading{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2.4vw;
    margin-top: 0;
    text-decoration: underline;
}
.con-box-1{
    margin: 1vw;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #E4D4ED;
    background: transparent;

 
}
.text-area{
    height: 100vh!important;
}
input{
   border: 2px solid black!important;
   border-radius: 10px;
   background: transparent!important;
}
input::placeholder{
    font-weight: 500;
 
}
textarea{
    
    border: 2px solid black!important;
    background: transparent!important;
}

textarea::placeholder{
  font-weight: 500;
  color:black;
}
.btn-outline-primary{
    border: 2px solid #7E36BD;
    color:black;
    font-weight: bold;

}
.btn-outline-primary:hover{
    background-color: #E4D4ED;
    color:black;

}

footer{
    margin-top:30px;
    background: black;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer-text{
    color: white;
    font-weight: bold;
}